//-------------------------------------------//
//-----------------VARIABLES-----------------//
//-------------------------------------------//

:root {
  --screen-width:     320px;
  --screen-height:    560px;
  --header-bg-color:  #673AB7;
  --splash-bg-color:  #368887;
}//DIT MOET SOWIESO WEG!!!

$bg-color-lightgrey:#F5F5F5;
$bg-color-purple:#70609F;
$bg-color-hover:#000000;


$text-color-lightgrey: $bg-color-lightgrey;
$text-color-purple: $bg-color-purple;
$text-color-black: $bg-color-hover;

$border-line: solid 2px;


@font-face {
  font-family: 'ginto';
  src: url('../fonts/ginto/GintoNord-BlackIta.otf');
}

@font-face {
  font-family: 'basis-grotesque';
  src: url('../fonts/bgp/basis-grotesque-bold-pro.otf');
}

@font-face {//DIT MOET GEWOON IN DIE ANDERE BASIS-GROTESQUE KUNNEN
  font-family: 'basis-grotesque-ow';
  src: url('../fonts/bgp/basis-grotesque-off-white-pro.otf');
}

// @mixin gallery{
//   display: flex;
//   flex-flow: row wrap;
//   justify-content: center;
//   max-width: calc(600px + 4rem);
//   margin: 0 auto;
//   list-style: none;
//   padding: 0;
//   li{
//     display: flex;
//     flex-direction: column;
//     margin: 1rem;
//     div{
//       display: block;
//       width: 300px;
//       // height: auto;
//       //background-color: $bg-color-purple;
//       img{
//         width: 100%;
//         //max-width: 400px;
//         height: auto;
//       }
//     }
    // p{
    //   //text-align: center; //WAAR HAD IK DIT OOK ALWEER VOOR BEDACHT??
    // }
//   }
// }



//-------------------------------------------//
//----------------MAIN STYLES----------------//
//-------------------------------------------//

*, *::before, *::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  font-size: 100%;
}

body{
  margin: 0;
  padding: 0;
  background-color: $bg-color-lightgrey;
  width: 100%;
  height: 100vh;
}

h1,h2{
  font-family: 'ginto';
}

h3,h4{
  font-family: 'basis-grotesque';
  letter-spacing: 1px;
}

p, body{
  font-family: 'basis-grotesque-ow';
  letter-spacing: 1px;
}


//WITHOUT THIS RULE THE PREV-ARROW IS INVISIBLE. IT SHOULDN'T BE HERE BUT FOR DEVELOPMENT PURPOSES I KEEP IT HERE. SHOULD FIND THE UNDERLYING PROBLEM THOUGH.
.slick-prev,
.slick-next{
  z-index: 1;
}

//-------------------------------------------//
//------------------LAYOUT-------------------//
//-------------------------------------------//


//--------HOME PAGE--------//

.main-wrapper{
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: flex-start;
}

.header-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100% !important;
  background-color: $bg-color-lightgrey;
  a{
    text-decoration: none;
    .logo{
      font-size: 1rem;
      color: $text-color-black;
      padding: .5rem 1rem;
      //margin: 0 auto;
    }
  }

  .logo-hidden{
    display: none;
  }

@import 'navmenu';

}


.intro-text{
  display:flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  .bonjour{
    color: $text-color-purple;
    font-size: 3rem;
  }
  }
  h3{
    font-family: 'basis-grotesque-ow';
    font-size: 1.5rem;
    margin: 0 3rem 1.5rem;
    line-height: 1.3;
  }


.main-container{
  width: 100%;

  .intro-gallery,
  .work-gallery{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    align-items: center;
    .intro-gallery--item,
    .work-gallery--item{
      img{
        width: 100%;
        height: auto;
        max-width: 320px;
        cursor: pointer;
      }
      p{
        text-align: center;
        cursor: pointer;
        //text-transform: lowercase;
        //text-transform: capitalize;
      }
      .hover-text{
        display: none;
      }
    }
  }
}

.cta-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  .cta-work, .cta-about{
    cursor: pointer;
    h4{
      //text-decoration: underline;
      padding-bottom: 3px;
      border-bottom: 3px solid black;
    }
  }
  .cta-work{
    display: flex;
    align-self: flex-end;
    align-items: center;
  }
  .cta-about{
    display: flex;
    flex-direction: row-reverse;
    align-self: flex-start;
    align-items: center;
    //color: $text-color-purple;
    // h4{
    //   border-bottom: 3px solid $text-color-purple;
    // }
    // svg{
    //   path{
    //     stroke: $text-color-purple;
    //   }
    // }
  }
}


//--------PROJECT PAGE--------//

.project{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  .hero{
    position: relative;
    img{
      width: 100%;
      height: auto;
    }
    .arrow-prev{
      position: absolute;
      top: 40%;
      left: 40px;
      width: 30px;
      z-index: 999;
    }
    .arrow-next{
      position: absolute;
      top: 40%;
      right: 40px;
      width: 30px;
      z-index: 999;
    }
  }

  .project-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 3rem;
    &--title{
      font-size: 1.2rem;
    }
    &--text{
      font-size: 1.3rem;
    }
    .show-more-btn{
      display: inline-block;
      align-self: flex-start;
      padding: 0;
      margin-bottom: 2rem;
      background-color: $bg-color-lightgrey;
      border: none;
      text-decoration: underline; 
      font-size: 1.3rem;
      cursor: pointer;
    }
    .show-more{
      display: none;
      margin-bottom: 1rem;
    }
    .cisy{
      border-top: $border-line;
      border-bottom: $border-line; //NIET SUPER ELEGANT DIT
      width: 100%;
      display: flex;
      flex-flow: wrap row;
      justify-content: space-between;
      .client, 
      .industry,
      .services,
      .year{
        display: flex;
        flex-direction: column;
        align-items: space-between;
        flex-basis: 50%;
        margin: 0.7rem 0;
        h3{
          font-family:'ginto';
          font-size: .9rem;
          display: inline-block;
          text-align: left;
          margin: 0;
        }
        p{
          display: inline-block;
          text-align: left;
          margin: 0;
        }
      }
    }
  }
  .project-image{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    &--item{
      margin: 0 1rem;
      img{
        width: 100%;
        height: auto;
        margin: 0.5rem 0;
      }
    }
  }
}

//-------ABOUT PAGE-------//

.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: calc(300px + 2rem);
  margin: 0 auto;
  padding: 0 1rem;
  background-color: $bg-color-purple;
  color: $text-color-lightgrey;
  .about-me{
    display:flex;
    flex-direction: column;

    h1{
      font-size: 2.5rem;
    }

    p{
      font-size: 1.2rem;
      padding: 0 1.3rem;
      span{
        display: block;
        margin-top: 1rem;
      }
    }

    img{
      width: 90%;
      height: auto;
      margin:  0 auto;
    }
    a{
      margin: 2rem auto;
      img{
        width: 70px;
        height: auto;
      }
    }
  }
  // .whatido{
  //   display:flex;
  //   flex-direction: column;
  //   a{
  //     margin: 2rem auto;
  //     img{
  //       width: 70px;
  //       height: auto;
  //     }
  //   }
  // }
  .contact{
    span{
      display:block;
    }
  }
}

.more-info-container{
  display: flex;
  //justify-content: space-between;
  flex-direction: column;
  //margin-top: 4rem;
  width: 100%;
  //flex-flow: wrap;
  .whatido{
   display:flex;
   flex-direction: column;
   //flex-basis: 40%;
   //margin-left: 4rem;
   a{
     margin: 2rem auto;
     img{
       width: 70px;
       height: auto;
     }
   }
 }
 .whoiam{
   display: flex;
   flex-direction: column;
   h2{
     margin-top: 0;
   }
   //flex-basis: 40%;
   //margin-right: 10%;
 }
 a{
   margin: 3rem auto;
 }
}


//---------FOOTER---------//

footer{
  display: block;
  width: 100%;
  border-top: $border-line;
  .footer-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 2rem;
  }
  span{
    font-family:'ginto',sans-serif ;
    font-size: .6rem;
    //color:red;
  }
}

//-------------------------------------------//
//--------------PSEUDO ELEMENTS--------------//
//-------------------------------------------//


button:focus{
  outline: 0;
}


//-------------------------------------------//
//---------------MEDIA QUERIES---------------//
//-------------------------------------------//

@media screen and(min-width: 810px){

  .sticky-wrapper{ //IS DIT HET BESTE?
    width: 100%;
    //max-width: calc(600px + 4rem);
    // max-width: 830px;
    margin: 0 auto;
  }

  .header-container{
    flex-direction: row;
    justify-content: space-between;
    // max-width: 830px;
    padding: 0 3rem;
    align-items: center;
    //padding: 0 3rem;
    //max-width: calc(600px + 4rem);
    margin: 0 auto;
    a{
      text-decoration: none;
      padding-left: calc(3rem + 10px);
      .logo{
        font-size: 1rem;
        color: $text-color-black;
        //padding: 1rem 1rem 0;
        padding: .5rem 1.8rem;
        //margin: 0 auto;
      }
    }
  
  .logo-hidden{
    display: none;
  }
  
  .nav{

  &__toggle{
    display: none;
  }

  &__menu{
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
    height: auto;
    //position:relative;
    //z-index:5;
    visibility:visible;
    list-style: none;
    padding:0 calc(3.8rem + 10px) 0 0;
    &__item{
     display: inline-block;
    }
    
  }

  &__link{
    color: $text-color-black;
    display:inline-block;
    text-align: center;
    text-transform:capitalize;
    letter-spacing:0px;
    font-size:1rem;
    text-decoration:none;
    padding:1rem;
    // &:focus{
    //   text-decoration: underline;
    // }
    &:hover{
      color: $text-color-purple;// WAT DOEN WE MET DE PAARSE TEXT OP DE ABOUT PAGE??
    }
    }

    &__item:nth-child(1){
      display:none;
    }
  }  
  }

  .nav--open {
    
    > .splash::after {
      display: none;// NIET HEEL CHIC
    }
  }
 
  .logo{
    display: block !important; // OOK NIET HEEL CHIC
  }



    .main-container{
      max-width: 1000px;
      //height: calc(100vh - 170px);//KLOPT DIT??
      margin: 0 auto;
      padding: 0 3rem;

      .intro-gallery,
      .work-gallery{
        justify-content: center;
        flex-flow: row wrap;
        margin-bottom: 2rem;
        &--item{
          display: flex;
          flex-direction: column;
          padding: 10px;
          position: relative;
          p{
            display: inline-block;
          }

          &:hover{
            img{
              filter: brightness(20%);
            }
            .hover-text{
              display: flex;
            }
          }

          .hover-text{
            display: none;
            z-index: 9999;
            color: $text-color-lightgrey;
            position: absolute;
            top: 0;
            left: 0;
            padding: 1rem;
            font-size: 1.2rem;
            // filter: brightness(100%);
           
          }
         
        }
      }


      .work-gallery--item:last-child{
        //align-self: flex-start;
        margin-right: auto;
        padding-left: 20px;
      }
    }

    // .hover-text-container{
    //   // background-color: $text-color-black;
    //   // opacity: 0.8; DIT ZOU KUNNEN IPV FILTER
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   .hover-text{
    //     z-index: 9999;
    //     color: $text-color-lightgrey;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     padding: 1rem;
    //     font-size: 1.2rem;
    //     filter: brightness(100%);
    //   }
    // }

   

    

    .intro-text{
      display:flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: flex-start;
      height: auto;
      max-width: 830px;
      //max-width: 1000px;
      margin: 0 auto;
      padding: 0 3rem;
      .bonjour{
        color: $text-color-lightgrey;
        flex-basis: 30%;
        //font-size: 3.5rem;
        margin: 2rem 1rem;
        padding-left: 1rem;
        .bon,
        .jour{
          font-size: 4rem;
        }
      }
      h3{
        flex-basis: 30%;
        font-size: 1.5rem;
        margin: 2rem 0 0 2rem;
        max-width: 300px;
        font-weight: 500;
        padding: 0 1rem 1.8rem 0;
      }
      // h3::after{
      //   content:'';
      //   width: 100%;
      // }
      .arrow{
        margin: 2rem 100%;
      }
    }



    .info{
      //display: flex;
      //flex-direction: column;
      //align-items: center;
      justify-content: flex-start;
      max-width: calc(600px + 2rem);
      margin: 2rem auto;
      //padding: 0 1rem;
      background-color: $bg-color-purple;
      color: $text-color-lightgrey;
      .about-me{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        max-height: 400px;
        align-items: flex-start;
        justify-content: space-between;
        h1{
          font-size: 3rem;
          order:1;
          width: 250px;
          margin-top: 0;
        }

        h4{
          order: 1;
          width: 250px;
          margin-top: 0;
        }
    
        img{
          //width: 100%;
          max-width: 300px;
          //height: auto;
          order: 2;
          margin-left: 1rem;
        }
        a{
          margin: 2rem auto;
          order: 1;
          margin-top: 400px;//DIT KAN BETER. WANT PIJL STAAT NIET IN HET MIDDEN.
          img{
            width: 70px;
            height: auto;
          }
        }
      }

     .more-info-container{
       display: flex;
       justify-content: space-between;
       margin-top: 4rem;
       width: 100%;
       flex-flow: wrap;
       .whatido{
        display:flex;
        flex-direction: column;
        flex-basis: 40%;
        //margin-left: 4rem;
        a{
          margin: 2rem auto;
          img{
            width: 70px;
            height: auto;
          }
        }
      }
      .whoiam{
        display: flex;
        flex-direction: column;
        flex-basis: 40%;
        margin-right: 10%;
      }
      a{
        margin: 3rem auto;
      }
     }
  
      .contact{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        h1{
          font-size: 3rem;
          margin: 3rem 0;
        }
        .contact-details{
          margin: 3rem 0;
        }
        // span{
        //   display:block;
        // }
      }
    }
    .cta-container{
      //background-color: pink;
      max-width: 683px;
      margin: 0 auto 2rem;
    }
    
}


@media screen and(min-width: 1600px){
  
}