//-------------------------------------------//
//-----------------VARIABLES-----------------//
//-------------------------------------------//

:root {
  --screen-width:     320px;
  --screen-height:    560px;
  --header-bg-color:  #673AB7;
  --splash-bg-color:  #368887;
}//DIT MOET SOWIESO WEG!!!

$bg-color-lightgrey:#F5F5F5;
$bg-color-purple:#70609F;
$bg-color-hover:#000000;


$text-color-lightgrey: $bg-color-lightgrey;
$text-color-purple: $bg-color-purple;
$text-color-black: $bg-color-hover;

$border-line: solid 2px;


@font-face {
  font-family: 'ginto';
  src: url('../fonts/ginto/gintonordtrial-medium.woff') format('woff');
}

@font-face {
  font-family: 'basis-grotesque';
  src: url('../fonts/bgp/basisgrotesquepro-regular.ttf') format('truetype');
}

@mixin gallery{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: calc(600px + 4rem);
  margin: 0 auto;
  list-style: none;
  padding: 0;
  li{
    margin: 1rem;
    a{
      display: block;
      width: 300px;
      height: 200px;
      background-color: $bg-color-purple;
    }
    p{
      //text-align: center; //WAAR HAD IK DIT OOK ALWEER VOOR BEDACHT??
    }
  }
}



//-------------------------------------------//
//----------------MAIN STYLES----------------//
//-------------------------------------------//

*, *::before, *::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  font-size: 100%;
}

body{
  margin: 0;
  padding: 0;
  background-color: $bg-color-lightgrey;
  width: 100%;
  height: 100vh;
}

h1,h2,h3,h4{
  font-family: 'ginto',sans-serif;
}

p,body{
  font-family: 'basis-grotesque',sans-serif;
}

//-------------------------------------------//
//------------------LAYOUT-------------------//
//-------------------------------------------//


//--------HOME PAGE--------//

.main-wrapper{
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: flex-start;
}

.header-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100% !important;
  background-color: $bg-color-lightgrey;
  a{
    text-decoration: none;
    .logo{
      font-size: 1rem;
      color: $text-color-black;
      padding: .5rem 1rem;
      //margin: 0 auto;
    }
  }

  .logo-hidden{
    display: none;
  }

@import 'navmenu';

}


.intro-text{
  display:flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  .bonjour{
    color: $text-color-purple;
    font-size: 3.5rem;
  }
  h3{
    font-size: .9rem;
    margin: 0 3rem 1.5rem;
  }
}

.main-container{
  width: 100%;


 
  .intro-gallery{
    // display: flex;
    // flex-flow: row wrap;
    // justify-content: center;
    // max-width: calc(300px + 2rem);
    // margin: 0 auto;
    // list-style: none;
    // padding: 0;
    @include gallery;
    // li{
    //   margin: 1rem;
    //   a{
    //     display: block;
    //     width: 300px;
    //     height: 200px;
    //     background-color: $bg-color-purple;
    //   }
    //   p{
    //     text-align: center;
    //   }
    // }
  }
}

.cta-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  .cta-work, .cta-about{
    h4{
      text-decoration: underline;
    }
  }
  .cta-work{
    display: flex;
    align-self: flex-end;
    align-items: center;
  }
  .cta-about{
    display: flex;
    flex-direction: row-reverse;
    align-self: flex-start;
    align-items: center;
  }
}


//--------WORK PAGE--------//

.work-gallery{
  @include gallery;
}

.extra-info-container{
  display: flex;
  flex-direction: column;
  .extra-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 1rem 2rem;
    h2{
      align-self: center;
    }
    &>p{
      font-size: 1.2rem;
      text-align: left; //HEB IK AL DEZE TEXT-ALIGN NOG WEL NODIG??
    }
    .show-more{
      display: none;
      //text-align: left;
    }
    button{
      display: inline-block;
      padding: 0;
      background-color: $bg-color-lightgrey;
      border: none;
      text-decoration: underline; 
      font-size: 1.4rem;
      cursor: pointer;
    }
  }
  .cisy{
    border-top: $border-line;
    border-bottom: $border-line; //NIET SUPER ELEGANT DIT
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    margin: 0 1rem;
    .client, 
    .industry,
    .services,
    .year{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      h3{
        margin: .5rem 0 .2rem
      }
      p{
        margin: 0 0 .5rem;
        text-align: left;
      }
    }
  }
}

// .work{
//   @extend .main-container;
// }


//-------ABOUT PAGE-------//

.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: calc(300px + 2rem);
  margin: 0 auto;
  padding: 0 1rem;
  background-color: $bg-color-purple;
  color: $text-color-lightgrey;
  .about-me{
    display:flex;
    flex-direction: column;

    h1{
      font-size: 4rem;
    }

    img{
      width: 100%;
      height: auto;
    }
    a{
      margin: 2rem auto;
      img{
        width: 70px;
        height: auto;
      }
    }
  }
  .whatido{
    display:flex;
    flex-direction: column;
    a{
      margin: 2rem auto;
      img{
        width: 70px;
        height: auto;
      }
    }
  }
  .contact{
    span{
      display:block;
    }
  }
}


//---------FOOTER---------//

footer{
  display: block;
  width: 100%;
  border-top: $border-line;
  .footer-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  }
  span{
    font-weight: bolder;
    color:red;
  }
}

//-------------------------------------------//
//--------------PSEUDO ELEMENTS--------------//
//-------------------------------------------//


button:focus{
  outline: 0;
}


//-------------------------------------------//
//---------------MEDIA QUERIES---------------//
//-------------------------------------------//

@media screen and(min-width: 810px){

}


@media screen and(min-width: 1600px){
  
}